.collapse {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
  align-items: center;

  &__dropdown {
    width: 100%;

   
    &__title {
      @extend %flex-between;
      padding: 0.5em 1em;
      width: 100%;
      background-color: #ff6060;
      margin: 0 auto;
      margin-top: 1.5em;
      border-radius: 5px;

     
      h2 {
        color: #ffffff;
        @include font(24px, 500);
      }

      p {
        color: #ffffff;

        i {
          cursor: pointer;
        }
      }
    }

    &__content {
      background-color: #ffffff;
      width: 100%;
      color: #000000;
      border-radius: 5px;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
      }

      p {
        @include font(20px, 400);
        color: #000000;
        margin: 0 auto;
        padding: 0.8em;
      }
    }
  }
}